<%provide(:title,'About Us')%>
		<h1> About Us </h1>
		 <p> 
			This is the about us page for the <a href ="http://bluetunadocs.com/"> Blue Tuna Home Fishing App's about us </a> Fishing App.
		 </p>
	
